.Screen {
  float: middle;
  border: solid;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Arrows {


}

.SwitchButton {
    background-color: #11111;
    transform:scale(1);
    border: none;
}

.ArrowLeft {

}

.ArrowRight {

}

.DepartureBox {
  color:black;
  font-weight: bolder;
  float:middle;
}

.ArrivalBox {
  color:black;
  font-weight: bolder;
  float:middle;
}

.FindButton {
    background-color: #3696CE;
    outline: #3696CE;
    color:white;
    font-weight: bolder;
    width:4vw;
    height : 4vh;
    margin: 1vh;
    border: none;
    border-radius: 40px;
    margin-right: 8em;
    float:right;
}
