.Screen {
  float: middle;
  border: solid;
  border-radius: 10px;
  position: absolute;
  top: 46%;
  left: 42%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: scale(1.5);
  display:flex;
  flex-direction:row;
}

.Arrows {


}

.SwitchButton {
    background-color: #11111;
    transform:scale(1);
    border: none;
}

.ArrowLeft {

}

.ArrowRight {

}

.DepartureBox {
  margin: 5vh;
  color:black;
  font-weight: bolder;
  float:middle;
}

.ArrivalBox {
  margin: 5vh;
  color:black;
  font-weight: bolder;
  float:middle;
}

.FindButton {
    background-color: #3696CE;
    outline: #3696CE;
    color:white;
    font-weight: bolder;
    width:4vw;
    height : 4vh;
    margin: 1vh;
    border: none;
    border-radius: 40px;
    margin-right: 2em;
    float:bottom;
}
