.TransportLines{
    border: solid; 
    border-radius: 15px;
    position: absolute;
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    margin-top: 40px;
}

.Departure{
    position: absolute;
    min-width: 250px;
    padding: 4px;
    margin-top: 200px;
   z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
    left:50%;
    display: block;
}

.Arrival{
    position: absolute;
    min-width: 250px;
    padding: 4px;
    margin-top: 200px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
    left:70%;
}

.ButtonSearch{
    margin-top: 500px;
    position: absolute;
    margin-left: 700px;
}

/*.option2{
    background-image: url(/src/images/train_logo2.png);
    background-position: 25pt;
    background-repeat: no-repeat;
}*/