.TransportLines{
    border: solid; 
    border-radius: 15px;
    position: absolute;
}

.Titulo{
    text-align: center;
    font-size: 160%;
    font-weight: bolder;
}

.ChangeButton{
    float: right;
    padding:20px;
    transform: translate(-10%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.Departure{
    background-color: #65ACD2;
    position: absolute;
    min-width: 250px;
    padding: 4px;
    margin-top: 200px;
   z-index: 99999 !important;

    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 3px solid #65ACD2;
    border-radius:15px;
    left:50%;
    display: block;
}

.Arrival{
    position: absolute;
    min-width: 250px;
    padding: 4px;
    margin-top: 200px;
    z-index: 99999 !important;
    background-color: #65ACD2;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 3px solid #65ACD2;
    border-radius:15px;
    left:70%;
}

.ButtonSearch{
    position: absolute;
    margin-left: 45%;
}

